# DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=secureauth

# PGADMIN
PGADMIN_EMAIL=demo@example.com
PGADMIN_PASSWORD=secret

# JWT (IMPORTANTE)
JWT__KEY=super-secret-key-com_mais_de_32_chars-production-123456789123456789
JWT__ISSUER=SecureAuth
JWT__AUDIENCE=SecureAuthUsers
JWT__EXPIRATIONMINUTES=60

# CONNECTION STRING (USANDO NOME DO CONTAINER!)
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=secureauth;Username=postgres;Password=postgres