# DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=secureauth

# PGADMIN
PGADMIN_EMAIL=demo@example.com
PGADMIN_PASSWORD=secret

# JWT (IMPORTANTE)
JWT__KEY=super_secret_key_com_mais_de_32_chars_123456
JWT__ISSUER=SecureAuth
JWT__AUDIENCE=SecureAuthUsers

# CONNECTION STRING (USANDO NOME DO CONTAINER!)
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=secureauth;Username=postgres;Password=postgres